@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html, body {
  position: relative;
  width: 1695px;
  height: 6181px;
  background: #FFFFFF;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

.header {
  border-bottom: 1px solid #D8E3FE;
}
.header__body {
  border: 1px solid blue;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 32px;
}
.header__img {
  margin-right: 73px;
  margin-left: 117px;
  transition: 0.3s;
}
.header__img img {
  transition: 0.3s;
}
.header__img:hover {
  transition: 0.3s;
}
.header__img:hover a {
  transition: 0.3s;
}
.header__img:hover a img {
  transition: 0.3s;
  transform: scale(1.1);
}
.header__navigation {
  margin-right: 361px;
}
.header__nav-column {
  display: flex;
}
.header__nav-list {
  transition: 0.3s;
}
.header__nav-list a {
  margin-right: 42px;
  transition: 0.3s;
}
.header__nav-list a span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0 0 5px 0 #e6e6e6;
  transition: 0.3s;
}
.header__nav-list a .line1 {
  left: 215px;
  top: 54px;
  width: 40px;
}
.header__nav-list a .line2 {
  left: 297px;
  top: 54px;
  width: 25px;
}
.header__nav-list a .line3 {
  left: 372px;
  top: 54px;
  width: 40px;
}
.header__nav-list a .line4 {
  left: 467px;
  top: 54px;
  width: 30px;
}
.header__nav-list a .line5 {
  left: 558px;
  top: 54px;
  width: 70px;
}
.header__nav-list a:hover {
  transition: 0.3s;
}
.header__nav-list a:hover span {
  transition: 0.3s;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: capitalize;
  color: #5e81fe;
  text-shadow: 0 0 5px 0 #e6e6e6;
}
.header__nav-list a:hover .lines {
  background-color: #3a79ff;
  transition: 0.3s;
  transform: translateY(10px);
}
.header__media {
  transition: 0.3s;
}
.header__media-column {
  display: flex;
  text-align: center;
  align-items: center;
}
.header__media-list {
  transition: 0.3s;
}
.header__media-list a {
  transition: 0.3s;
  margin-right: 37.58px;
}
.header__media-list a img {
  transition: 0.3s;
}
.header__media-list a:hover {
  transition: 0.3s;
  filter: invert(56%) sepia(38%) saturate(6735%) hue-rotate(210deg) brightness(106%) contrast(102%);
}
.header__button {
  margin-left: 19.5px;
}
.header__button:hover {
  background: #D2E1FF;
  transition: 0.3s;
}
.header__button:hover a {
  transition: 0.3s;
}
.header__button:hover a span {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #3a79ff;
  transition: 0.3s;
}

.buttons {
  padding: 13px 16px;
  border-radius: 2px;
  transition: 0.3s;
}
.buttons a {
  transition: 0.3s;
}
.buttons a span {
  transition: 0.3s;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #697ca6;
}

.lines {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 3px;
  border-radius: 2px;
}