@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  position: relative;
  width: 1490px;
  background: #FFFFFF;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

.header {
  border-bottom: 1px solid #D8E3FE;
}
.header__body {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 32px;
}
.header__img {
  margin-right: 73px;
  margin-left: 117px;
  transition: 0.3s;
}
.header__img img {
  transition: 0.3s;
}
.header__img:hover {
  transition: 0.3s;
}
.header__img:hover a {
  transition: 0.3s;
}
.header__img:hover a img {
  transition: 0.3s;
  transform: scale(1.1);
}
.header__navigation {
  margin-right: 361px;
}
.header__nav-column {
  display: flex;
}
.header__nav-list {
  transition: 0.3s;
}
.header__nav-list a .line1 {
  left: 214px;
  top: 54px;
  width: 40px;
}
.header__nav-list a .line2 {
  left: 296px;
  top: 54px;
  width: 25px;
}
.header__nav-list a .line3 {
  left: 372px;
  top: 54px;
  width: 40px;
}
.header__nav-list a .line4 {
  left: 467px;
  top: 54px;
  width: 30px;
}
.header__nav-list a .line5 {
  left: 558px;
  top: 54px;
  width: 70px;
}
.header__media {
  transition: 0.3s;
}
.header__media-column {
  display: flex;
  text-align: center;
  align-items: center;
}
.header__media-list {
  transition: 0.3s;
}
.header__media-list a {
  transition: 0.3s;
  margin-right: 37.58px;
}
.header__media-list a img {
  transition: 0.3s;
}
.header__media-list a:hover {
  position: relative;
  transition: 0.3s;
  filter: invert(56%) sepia(38%) saturate(6735%) hue-rotate(210deg) brightness(106%) contrast(102%);
}
.header__media-list a:hover img {
  transform: translateY(-3px);
}
.header__button {
  margin-left: 19.5px;
}
.header__button:hover {
  background: #D2E1FF;
  transition: 0.3s;
}
.header__button:hover a {
  transition: 0.3s;
}
.header__button:hover a span {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #3a79ff;
  transition: 0.3s;
}

.productivity__body {
  width: 1490px;
  height: 570px;
}
.productivity__bg {
  position: absolute;
  z-index: 0;
  top: 106px;
}
.productivity__bg img {
  width: 1490px;
}
.productivity__title {
  position: relative;
  margin-top: 91px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  text-align: center;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}
.productivity__subtitle {
  position: relative;
  margin-top: 16px;
  margin-bottom: 28px;
  text-align: center;
  font-size: 48px;
  text-align: center;
  color: #3d4f9f;
  z-index: 1;
}
.productivity__subtitle span {
  font-weight: bold;
}
.productivity__text {
  position: relative;
  left: 469px;
  width: 502px;
  height: 78px;
  text-align: center;
  font-size: 15px;
  line-height: 191%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #8d96bd;
  border: 0px solid #dfe2ef;
  z-index: 1;
}
.productivity__button {
  position: relative;
  top: 20px;
  left: 694px;
  z-index: 2;
  background-color: #F4F7FF;
}
.productivity__button img {
  transition: 0.3s;
}
.productivity__button img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.productivity__image {
  position: relative;
  top: 47px;
  left: 470px;
  z-index: 1;
}
.productivity__image-fuel {
  position: relative;
  top: -3px;
  right: 13px;
  transition: 0.3s;
  z-index: 2;
}
.productivity__image-fuel:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.productivity__image-chart {
  position: relative;
  width: 1493px;
  top: -428px;
  left: -470px;
}
.footer__body {
  top: 240px;
  position: relative;
  margin-top: 120px;
  display: flex;
  height: 352px;
  border-top: 1px solid #D8E3FE;
}
.footer__left {
  margin-top: 101px;
}
.footer__left-column {
  display: flex;
  align-items: center;
  text-align: center;
}
.footer__left-list .line6 {
  left: 214px;
  top: 114px;
  width: 40px;
}
.footer__left-list .line7 {
  left: 295px;
  top: 114px;
  width: 25px;
}
.footer__left-list .line8 {
  left: 372px;
  top: 114px;
  width: 40px;
}
.footer__left-list .line9 {
  left: 467px;
  top: 114px;
  width: 30px;
}
.footer__left-list .line10 {
  left: 558px;
  top: 114px;
  width: 70px;
}
.footer__left-image {
  margin-left: 117px;
  margin-right: 73px;
}
.footer__left-copyright {
  position: relative;
  left: 216px;
  top: 28px;
  transition: 0.3s;
}
.footer__left-copyright-author p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
  transition: 0.3s;
}
.footer__left-copyright-author p:hover {
  transition: 0.3s;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #5e81fe;
  text-shadow: 0 0 5px 0 #e6e6e6;
}
.footer__left-ortiz {
  position: relative;
  width: 450px;
  height: 150px;
  top: 33px;
}
.footer__left-ortiz a img {
  width: 150px;
  height: 150px;
}
.footer__left-ortiz a p {
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 10px;
  width: 200px;
  position: relative;
  top: -120px;
  left: 190px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
}
.footer__left-ortiz a p span {
  transition: 0.3s;
  color: #EE6C4D;
}
.footer__left-ortiz a:hover p {
  transition: 0.3s;
  background-color: #697CA6;
  color: #EE6C4D;
  text-shadow: none;
  transform: scale(1.1);
}
.footer__left-ortiz a:hover p span {
  color: #FFFFFF;
}
.footer__right {
  margin-top: 101px;
  margin-left: 361px;
}
.footer__right-column {
  display: flex;
  align-items: center;
}
.footer__right-list button {
  margin-left: 19.5px;
}
.footer__right-list button:hover {
  background: #D2E1FF;
  transition: 0.3s;
}
.footer__right-list button:hover a {
  transition: 0.3s;
}
.footer__right-list button:hover a span {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #3a79ff;
  transition: 0.3s;
}

.buttons {
  padding: 13px 16px;
  border-radius: 2px;
  transition: 0.3s;
}
.buttons a {
  transition: 0.3s;
}
.buttons a span {
  transition: 0.3s;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #697ca6;
}

.nav-buttons {
  margin-right: 42px;
  transition: 0.3s;
}
.nav-buttons span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0 0 5px 0 #e6e6e6;
  transition: 0.3s;
}
.nav-buttons:hover {
  transition: 0.3s;
}
.nav-buttons:hover span {
  transition: 0.3s;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: capitalize;
  color: #5e81fe;
  text-shadow: 0 0 5px 0 #e6e6e6;
}
.nav-buttons:hover .lines {
  background-color: #3a79ff;
  transition: 0.3s;
  transform: translateY(10px);
}

.lines {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 3px;
  border-radius: 2px;
}

.media {
  transition: 0.3s;
  margin-right: 37.58px;
}
.media img {
  transition: 0.3s;
}
.media:hover {
  transition: 0.3s;
  transform: translateY(-3px);
  filter: invert(56%) sepia(38%) saturate(6735%) hue-rotate(210deg) brightness(106%) contrast(102%);
}
.media:hover img {
  transition: 0.3s;
  transform: translateY(-3px);
}