//* Zeroing
@import url('/css/nullstyle.css');

//* Imports
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//* Templates
$color1: #3D4F9F;
$color2: #D8E3FE;
$color3: #FFFFFF;
$color4: #DFE2EF;
$color5: #D1D6E3;

$bd1: 1px solid red;
$bd2: 1px solid blue;
$bd3: 1px solid purple;

$ff1: 'Quicksand', sans-serif;
$ff2: 'Roboto', sans-serif;

//* Main Website Settings
html,body{
    position: relative;
    width: 1490px;
    background: #FFFFFF;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

//* Header
.header {
    border-bottom: 1px solid #D8E3FE;

    &__body {
        display: flex;
        text-align: center;
        align-items: center;
        padding-top: 33px;
        padding-bottom: 32px;
    }

    &__img {
        margin-right: 73px;
        margin-left: 117px;
        transition: 0.3s;

        img{
            transition: 0.3s;
        }

        &:hover{
            transition: 0.3s;

            a{
                transition: 0.3s;
                img{
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }

    &__navigation {
        margin-right: 361px;
    }

    &__nav-column {
        display: flex;
    }

    &__nav-list {
        transition: 0.3s;

        a{
            .line1{
                left: 214px;
                top: 54px;
                width: 40px;
            }
    
            .line2{
                left: 296px;
                top: 54px;
                width: 25px;
            }
    
            .line3{
                left: 372px;
                top: 54px;
                width: 40px;
            }
    
            .line4{
                left: 467px;
                top: 54px;
                width: 30px;
            }
    
            .line5{
                left: 558px;
                top: 54px;
                width: 70px;
            }  
        }
    }

    &__media {
        transition: 0.3s;
    }

    &__media-column {
        display: flex;
        text-align: center;
        align-items: center;
    }

    &__media-list {
        transition: 0.3s;

        a{
            transition: 0.3s;
            margin-right: 37.58px;

            img{
                transition: 0.3s;
            }

            &:hover{
                position: relative;
                transition: 0.3s;
                filter: invert(56%) sepia(38%) saturate(6735%) hue-rotate(210deg) brightness(106%) contrast(102%);

                img{
                    transform: translateY(-3px);
                }
            }
        }
    }

    &__button {
        margin-left: 19.5px;

        &:hover{
            background: #D2E1FF;
            transition: 0.3s;

            a{
                transition: 0.3s;

                span{
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    color: #3a79ff;
                    transition: 0.3s;
                }
            }
        }
    }
}

//* Productivity
.productivity {

    &__body {
        width: 1490px;
        height: 570px;;
    }

    &__bg{
        position: absolute;
        z-index: 0;
        top: 106px;
        
        img{
            width: 1490px;
        }
    }

    &__title {
        position: relative;
        margin-top: 91px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        text-align: center;
        font-family: $ff2;
        z-index: 1;
    }

    &__subtitle {
        position: relative;
        left: 10px;
        margin-top: 16px;
        margin-bottom: 28px;
        text-align: center;
        font-size: 48px;
        text-align: center;
        color: #3d4f9f;
        z-index: 1;

        span{
            font-weight: bold;
        }
    }

    &__text {
        position: relative;
        left: 490px;
        width: 502px;
        height: 78px;
        text-align: center;
        font-size: 15px;
        line-height: 191%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #8d96bd;
        border: 0px solid #dfe2ef;
        z-index: 1;
    }

    &__button {
        position: relative;
        top: 20px;
        left: 715px;
        z-index: 2;
        background-color: #F4F7FF;

        img{
            transition: 0.3s;
            
            &:hover{
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }

    &__image {
        position: relative;
        top: 47px;
        left: 470px;
        z-index: 1;
    }

    &__image-fuel {
        position: relative;
        top: -3px;
        right: 13px;
        transition: 0.3s;
        z-index: 2;

        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
        
    }

    &__image-chart {
        position: relative;
        width: 1490px;
        top: -428px;
        left: -470px;
    }

    &__slider {
        position: relative;
        top: -380px;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        z-index: 2;

        span{
            border-radius: 50%;
            position: relative;
            margin-right: 12px;
            padding: 8px;
            display: inline-block;
            background: #D1D6E3;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                background: #5283FF;
                transform: scale(1.1);
            }   
        }
    }

    &__companies {
        position: relative;
        padding-bottom: 58px;
        border-bottom: 1px solid #D8E3FE;;
        width: 1490px;
        z-index: 2;
    }

    &__companies-columns {
        display: flex;
    }

    &__companies-list {
        position: relative;
        left: 296px;
        margin-right: 76.5px;
        transition: 0.3s;
        
        img{
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                filter: invert(50%) sepia(57%) saturate(605%) hue-rotate(187deg) brightness(90%) contrast(101%);
                transform: translateY(-6px);
            }
        }
    }
}

//* App
.app {

    &__body {
        background: #F5F8FF;
        display: flex;
        height: 776px;
        border-bottom: 1px solid #D8E3FE;
        padding-bottom: 1px;
    }

    &__content {
        position: relative;
        left: 271px;
        top: 270px;
    }

    &__title {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 27px;
    }

    &__subtitle {
        font-size: 36px;
        color: #3d4f9f;
        margin-bottom: 27px;

        span{
            font-weight: bold;
        }
    }

    &__text {
        width: 413px;
        height: 151px;
        font-size: 15px;
        line-height: 191%;
        letter-spacing: 0.03em;
        color: #8d96bd;
        border: 0px solid #dfe2ef;
        margin-bottom: 47px;
    }

    &__button {
        position: relative;
        background-color: #F5F8FF;
        border: 1px solid #D1D1E4;
        transition: 0.3s;
        background: url('/img/Polygon.svg') 60px 18px no-repeat;
        
        a{
            transition: 0.3s;
            span{
                transition: 0.3s;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                color: #adb4d2;
            }
        }

        &:hover{
            transition: 0.3s;
            width: 130.08px;
            height: 43px;
            background-color: #4c85ff;
            box-shadow: 0 5px 15px 0 rgba(188, 199, 255, 0.75);
            background: #4c85ff url('/img/Polygon.png') 105px 18px no-repeat;

            a{
                transition: 0.3s;

                span{
                    font-size: 13px;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }

    &__button1{
        position: relative;
        transition: 0.3s;
    }

    &__button2{
        position: relative;
        right: 4.5px;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            width: 130.08px;
            height: 43px;
            background-color: #4c85ff;
            box-shadow: 0 5px 15px 0 rgba(188, 199, 255, 0.75);
            background: #4c85ff url('/img/Polygon.png') 110px 18px no-repeat;

            a{
                transition: 0.3s;

                span{
                    font-size: 13px;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }

    &__image {
        position: relative;
        left: 255px;
        top: 170px;
    }
}

//* About
.about {
    position: relative;
    z-index: 2;

    &__body {
        width: 1490px;
        height: 890.5px;
        background: url('/img/clouds.svg');
    }

    &__content{
        position: relative;
        top: 165.5px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: #3d4f9f;
    }

    &__subtitle {
        margin-bottom: 92px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #3d4f9f;
    }

    &__column {
        display: flex;
        align-items: center;
        text-align: center;
        transition: 0.3s;
    }

    &__list {
        position: relative;
        left: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 67px;
        border-radius: 5px;
        padding: 5px;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            background-color: #4074F8;
            transform: scale(1.05);

            p{
                transition: 0.3s;
                color: #FFFFFF;
            }

            span{
                transition: 0.3s;
                color: #FFFFFF;
            }
        }
    }

    &__list-image {
        text-align: center;
        margin-bottom: 33px;
        transition: 0.3s;
    }

    &__list-title {
        text-align: center;
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: 700;
        line-height: 177%;
        text-align: center;
        color: #4074f8;
        transition: 0.3s;
    }

    &__list-text {
        display: flex;
        width: 140px;
        height: 102px;
        font-size: 11px;
        line-height: 177%;
        text-align: center;
        color: #adb3cb;
        border: 0px solid #dfe2ef;
        transition: 0.3s;
    }

    &__lines{
        position: relative;
        bottom: 130px;
        left: 490px;
        
        span{
            display: inline-block;
            width: 28px;
            height: 1px;
            border: 1px solid #DAE4FE;
            background-color: #DAE4FE;
        }

        .line1{
            position: relative;
        }

        .line2{
            position: relative;
            left: 180px;

        }

        .line3{
            position: relative;
            left: 375px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        position: relative;
        left: 605px;
        top: 92px;
        transition: 0.3s;

        p{
            transition: 0.3s;
        }

        &:hover{
            transition: 0.3s;

            p{
                transition: 0.3s;
                font-weight: 700;
                color: #7382A3;
            }
        }
    }

    &__links-button1 {
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            background-color: #D2E1FF;
            transform: scale(1.1);

            a{
                span{
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    color: #3a79ff;
                }
            }
        }
    }

    &__links-button2 {
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            background-color: #FFD7D7;
            transform: scale(1.1);

            a{
                span{
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    color: #d43f3f;
                }
            }
        }
    }

    &__links-text {
        margin-left: 36px;
        margin-right: 36px;

        span{
            width: 15px;
            height: 0px;
            border: 1px solid #DAE4FE;
            background-color: #DAE4FE;
            display: flex;

            &:nth-child(1){
                position: relative;
                top: 11px;
                left: 27px;
            }

            &:nth-child(3){
                position: relative;
                bottom: 10px;
                right: 27px;
            }
        }

        p{
            font-size: 11px;
            line-height: 177%;
            text-align: center;
            color: #adb3cb;
            border: 0px solid #dfe2ef;
        }
    }

    &__stats {
        position: relative;
        width: 1515px;
        right: 5px;
        bottom: 6px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-top: 1px solid #D8E3FE;;
    }

    &__stats-left {
        padding: 70px 90px;
        position: relative;
        text-align: right;
        justify-content: right;
        background-color: #6888FF;
    }

    &__stats-left-image {
    }

    &__stats-left-percent {
        font-size: 48px;
        line-height: 174%;
        letter-spacing: 0.03em;
        text-align: right;
        color: #fff;
    }

    &__stats-left-text {
        position: relative;
        bottom: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-align: right;
        color: #fff;
    }

    &__stats-right {
        padding: 70px 90px;
        position: relative;
        background-color: #E9EFFF;
    }

    &__stats-right-image {
        position: relative;
    }

    &__stats-right-number {
        position: relative;
        font-size: 48px;
        line-height: 174%;
        letter-spacing: 0.03em;
        color: #5e80ff;
    }

    &__stats-right-text {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #5e80ff;
    }

    .stat-image, .stat-text, .stat-title{
        margin-bottom: 24px;
    }
}

//* Resources
.resources {

    &__body {
        position: relative;
        width: 1490px;
        height: 865px;
        bottom: 6.5px;
        background: #F5F8FF;
    }

    &__content {
        align-items: center;
    }

    &__title {
        padding-top: 104px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 92px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #3d4f9f;
    }

    &__left-arrow {
        position: relative;
        right: 75px;
        width: 23px;
        height: 15px;
    }

    &__slider {
        display: flex;
        position: relative;
        left: 173px;
        align-items: center;
        height: 394px;
    }

    &__planning {
        display: flex;
        align-items: center;
        width: 1058px;
        height: 394px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 15px 50px #EFF4FF;
    }

    &__planning-image {
    }

    &__planning-title {
        padding-bottom: 32px;
        font-size: 36px;
        color: #3d4f9f;
    }

    &__planning-text {
        width: 408px;
        height: 116px;
        font-size: 14px;
        line-height: 191%;
        letter-spacing: 0.03em;
        color: #8d96bd;
        border: 0px solid #dfe2ef;
        margin-bottom: 31px;
    }

    &__planning-buttons {
        transition: 0.3s;
        margin-right: 23px;

        &:hover{
            transition: 0.3s;
            background: #D2E1FF;

            a{
                transition: 0.3s;
                
                span{
                    transition: 0.3s;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    color: #3a79ff;
                }
            }
        }
    }

    &__right-arrow {
        position: relative;
        left: 75px;
        width: 23px;
        height: 15px;
    }

    &__slider-buttons {
        margin-top: 131px;
    }
}

//* Testimonials
.testimonials {
    
    &__body {
        position: relative;
        bottom: 6px;
        height: 479px;
        border-top: 1px solid #D8E3FE;;
        background-color: #EAF0FF;
        display: flex;
        justify-content: space-around;
    }

    &__left {
        margin-top: 146px;
    }

    &__left-title {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 31px;
        font-family: $ff2;
    }

    &__left-subtitle {
        font-size: 36px;
        font-weight: 500;
        color: #3d4f9f;
        margin-bottom: 16px;
    }

    &__left-text {
        width: 323px;
        height: 78.16px;
        font-size: 12px;
        line-height: 189%;
        letter-spacing: 0.03em;
        font-weight: bold;
        color: #a4abc8;
        border: 0px solid #dfe2ef;
    }

    &__right {
        margin-top: 109px;
    }

    &__right-slide {
        width: 423px;
        height: 175.37px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 5px 50px #F3F5FA;

        p{
            position: relative;
            top: 31px;
            left: 79px;
            width: 283px;
            height: 81.17px;
            font-size: 14px;
            line-height: 171%;
            letter-spacing: 0.03em;
            color: #676f95;
            border: 0px solid #dfe2ef;
            font-family: $ff2;
        }
    }

    &__right-pic {
        position: relative;
        bottom: 31.5px;
        text-align: center;
    }

    &__right-slider-button {
        position: relative;
        left: 10px; 
    }
}

//* Help
.help {

    &__body {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    &__title {
        margin-top: 176px;
        margin-bottom: 20px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        color: #3d4f9f;
        font-family: $ff2;
    }

    &__subtitle {
        margin-bottom: 68px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #3d4f9f;
    }

    &__columns {
        margin: 0 auto;
    }

    &__list {
        width: 743px;
        height: 60px;
        margin-bottom: 17px;
        border-bottom: 1px solid #D8E3FE;
        padding-bottom: 15px;
        transition: 0.3s;
    }

    &__list-title {
        padding-left: 24px;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #8e96b7;
        margin-bottom: 16px;
        background: url('/img/Vector__1.svg') left no-repeat;
        transition: 0.3s;
    }

    &__list-text {
        padding-left: 19px;
        font-size: 14px;
        line-height: 191%;
        letter-spacing: 0.03em;
        color: #8d96bd;
        border: 0px solid #dfe2ef;
        opacity: 0;
        transition: 0.3s;
        margin-left: 25px;
    }

    &__list-buttons {
        position: relative;
        bottom: 70px;
        left: 476px;
        opacity: 0;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            background-color: #D2E1FF;

            a{
                span{
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    color: #3a79ff;
                }
            }
        }
    }
}

//* Started-now
.started-now {

    &__body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    &__content {
        margin: 0 auto;
    }

    &__title {
    }

    &__subtitle {
    }

    &__text {
    }

    &__button {
    }
}

//* Footer
.footer {

    &__body {
        top: 240px;
        position: relative;
        margin-top: 120px;
        display: flex;
        height: 352px;
        border-top: 1px solid #D8E3FE;
    }

    &__left {
        margin-top: 101px;
    }

    &__left-navigation {
    }

    &__left-column {
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__left-list {

        .line6 {
            left: 214px;
            top: 114px;
            width: 40px;
        }

        .line7 {
            left: 295px;
            top: 114px;
            width: 25px;
        }

        .line8 {
            left: 372px;
            top: 114px;
            width: 40px;
        }

        .line9 {
            left: 467px;
            top: 114px;
            width: 30px;
        }

        .line10 {
            left: 558px;
            top: 114px;
            width: 70px;
        }
    }

    &__left-image {
        margin-left: 117px;
        margin-right: 73px;
    }

    &__left-copyright {
        position: relative;
        left: 216px;
        top: 28px;
        transition: 0.3s;
    }

    &__left-copyright-author {
        p{
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #aeb8d0;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #5e81fe;
                text-shadow: 0 0 5px 0 #e6e6e6;
            }
        }
    }

    &__left-ortiz {
        position: relative;
        width: 450px;
        height: 150px;
        top: 33px;

        a{
            img{
                width: 150px;
                height: 150px;
            }

            p{
                border: 1px solid $color3;
                border-radius: 3px;
                padding-left: 10px;
                width: 200px;
                position: relative;
                top: -120px;
                left: 190px;
                font-weight: bold;
                font-size: 40px;
                text-transform: uppercase;
                transition: 0.3s;
                color: #697CA6;
                text-shadow: 0px 0px 5px #E6E6E6;

                span{
                    transition: 0.3s;
                    color: #EE6C4D;
                }
            }

            &:hover{
                p{
                    transition: 0.3s;
                    background-color: #697CA6;
                    color: #EE6C4D;
                    text-shadow: none;
                    transform: scale(1.1);

                    span{
                        color: $color3;
                    }
                }
            }
        }
    }

    &__right {
        margin-top: 101px;
        margin-left: 361px;
    }

    &__right-navigation {
    }

    &__right-column {
        display: flex;
        align-items: center;
    }

    &__right-list {
        button{
            margin-left: 19.5px;

            &:hover{
                background: #D2E1FF;
                transition: 0.3s;
    
                a{
                    transition: 0.3s;
    
                    span{
                        font-size: 13px;
                        font-weight: 700;
                        text-align: center;
                        color: #3a79ff;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

//* Common Classes
.buttons{
    padding: 13px 16px;
    border-radius: 2px;
    transition: 0.3s;

    a{
        transition: 0.3s;

        span{
            transition: 0.3s;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            color: #697ca6;
        }
    }
}

.double-button{
    width: 130.08px;
    height: 43px;
}

.nav-buttons{
    margin-right: 42px;
    transition: 0.3s;

    span{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: capitalize;
        color: #697ca6;
        text-shadow: 0 0 5px 0 #e6e6e6;
        transition: 0.3s;
    }


    &:hover{
        transition: 0.3s;

        span{
            transition: 0.3s;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-align: center;
            text-transform: capitalize;
            color: #5e81fe;
            text-shadow: 0 0 5px 0 #e6e6e6;
        }

        .lines{
            background-color: #3a79ff;
            transition: 0.3s;
            transform: translateY(10px);
        }
    }
}

.slider-button {
    text-align: center;
    align-items: center;
    transition: 0.3s;
    z-index: 2;

    span{
        border-radius: 50%;
        position: relative;
        margin-right: 12px;
        padding: 8px;
        display: inline-block;
        background: #D1D6E3;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            transform: scale(1.05);
        }   
    }

    .active{
        background: #5283FF;
        transform: scale(1.1);
    }
}

.lines{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 3px;
    border-radius: 2px;
}

.media{
    transition: 0.3s;
    margin-right: 37.58px;

    img{
        transition: 0.3s;
    }

    &:hover{
        transition: 0.3s;
        transform: translateY(-3px);
        filter: invert(56%) sepia(38%) saturate(6735%) hue-rotate(210deg) brightness(106%) contrast(102%);

        img{
            transition: 0.3s;
            transform: translateY(-3px);
        }
    }
}

.activeList{
    height: 176px;
    border-bottom: 1px solid #D8E3FE;

    .help__list-title{
        font-size: 15px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #495274;
        background: url('/img/Vector__1.1.svg') left no-repeat;
    }
    
    .help__list-text{
        margin-top: 25px;
        opacity: 1;
    }

    .help__list-buttons{
        opacity: 1;
    }
}